[submodule "backend"]
	path = backend
	url = https://${CUSTOM_GITHUB_TOKEN}:x-oauth-basic@github.com/mss-boot-dev/development-platform.git
[submodule "frontend"]
	path = frontend
	url = https://${CUSTOM_GITHUB_TOKEN}:x-oauth-basic@github.com/mss-boot-dev/development-platform-ui.git